<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cnu_bus_alarm.cnu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" > //앱에 대한 정보

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
        </activity>

    <activity android:name=".IntroActivity"
        android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LocationSubActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".RouteActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".TimeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ArouteActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BrouteActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".CrouteActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".DrouteActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>